.notice
  = notice 
.alert2
  = alert
%table.tab1{:width => "95%"}
  %tr
    %td{:align => "center"}
      %h2= t :settings
  %tr{:align => "center"}
    %td{:width => "50%"}
      %h3= t :billing_adress
      
      = form_for(@billing_adress) do |f|
        .billing_adress
          %table.tab9
            %tr
              %td
                .field
                  = t :adress
                  %br
                    = f.text_field :adress, id: 'billing_adress_adress'
            %tr
              %td
                .field
                  = t :zipcode
                  %br
                    = f.number_field :zipcode, id: 'billing_adress_zipcode'
            %tr
              %td
                .field
                  = t :city
                  %br
                    = f.text_field :city, id: 'billing_adress_city'
            %tr
              %td
                .field
                  = t :phone
                  %br
                    = f.text_field :phone, id: 'billing_adress_phone'
            %tr
              %td
                .field
                  = t :country
                  %br
                    = f.select(:country_id, options_for_select(Country.all.collect { |country| [country.name, country.id] }))
            %tr
              %td.tab10
                .field
                  = f.check_box :shipping, id: 'checkbox'
                  = f.label t :use_billing_adress
            %tr
              %td
                .actions.button4
                  = f.submit
      -unless @billing_adress.shipping?

        %td.tab8
          %h3= t :shipping_adress
          = form_for(@adress) do |f|
            .shipping_adress
              %table.tab9
                %tr
                  %td
                    .field
                      = t :adress
                      %br
                        = f.text_field :adress, id: 'shipping_adress_adress'
                %tr
                  %td
                    .field
                      = t :zipcode
                      %br
                        = f.number_field :zipcode, id: 'shipping_adress_zipcode'
                %tr
                  %td
                    .field
                      = t :city
                      %br
                        = f.text_field :city, id: 'shipping_adress_city'
                %tr
                  %td
                    .field
                      = t :phone
                      %br
                        = f.text_field :phone, id: 'shipping_adress_phone'
                %tr
                  %td
                    .field
                      = t :country
                      %br
                        = f.select(:country_id, options_for_select(Country.all.collect { |country| [country.name, country.id] }))
                %tr
                  %td
                    .actions.button4
                      = f.submit
      - else
        %td.tab8
          %h3= t :shipping_adress
          %table.tab9
            %tr
              %td
                .field
                  = t :adress
                  %br
                    %strong
                      = @adress.adress
            %tr
              %td
                .field
                  = t :zipcode
                  %br
                    %strong
                      = @adress.zipcode
            %tr
              %td
                .field
                  = t :city
                  %br
                    %strong
                      = @adress.city
            %tr
              %td
                .field
                  = t :phone
                  %br
                    %strong
                      = @adress.phone
            %tr
              %td
                .field
                  = t :country
                  %br
                    %strong
                      = @adress.country.name
  %tr{:align => "center"}
    %td
      %h3= t :credit_card
      = form_for(@credit_card) do |f|
        .credit_card
          %table.tab9
            %tr
              %td
                .field
                  = t :number
                  %br
                  = f.number_field :number, id: 'credit_card_number'
            %tr
              %td
                .field
                  = t :cvv
                  %br
                  = f.number_field :cvv, id: 'credit_card_cvv'
            %tr
              %td    
                .field
                  = t :expiration_month
                  %br
                  = f.number_field :expiration_month, id: 'credit_card_month'
            %tr
              %td    
                .field
                  = t :expiration_year
                  %br
                  = f.number_field :expiration_year, id: 'credit_card_year'
            %tr
              %td    
                .field
                  = t :firstname
                  %br
                  = f.text_field :firstname, id: 'credit_card_firstname'
            %tr
              %td    
                .field
                  = t :lastname
                  %br
                  = f.text_field :lastname, id: 'credit_card_lastname'
            %tr
              %td
                .actions.button4
                  = f.submit
