<p id="notice"><%= notice %></p>
<center>
<table>
<tr>
<td><strong><%= t :shipping_adress%></strong></td>
<td><strong><%= t :billing_adress%></strong></td>
<td><strong><%= t :credit_card%></strong></td>
</tr>
<tr><td>
<table>

<%Adress.where(costumer_id: @costumer.id).find_each do |a|%>

<%Country.where(id: a.country_id).find do |c|%>
<tr><td><%= t :country%>: <%=c.name%></td></tr>
<%end%>

<tr><td><%= t :city%>: <%=a.city%></td></tr>
<tr><td><%= t :street%>: <%=a.adress%></td></tr>
<tr><td><%= t :zipcode%>: <%=a.zipcode%></td></tr>
<tr><td><%= t :phone%>: <%=a.phone%></td></tr>
 <tr><td><%=link_to "#{t :edit}", edit_adress_path(a)%></td></tr> 
 <tr><td><%=link_to "#{t :destroy}", a, method: :delete, data: { confirm: 'Are you sure?' }%></td></tr> 
 <tr><td><hr></td></tr> 

<%end%>

</table>
</td>
<td>
<table>

<%BillingAdress.where(costumer_id: @costumer.id).find_each do |a|%>
<%Country.where(id: a.country_id).find do |c|%>
<tr><td><%= t :country%>: <%=c.name%></td></tr>
<%end%>
<tr><td><%= t :city%>: <%=a.city%></td></tr>
<tr><td><%= t :street%>: <%=a.adress%></td></tr>
<tr><td><%= t :zipcode%>: <%=a.zipcode%></td></tr>
<tr><td><%= t :phone%>: <%=a.phone%></td></tr>
<tr><td><%=link_to "#{t :edit}", edit_billing_adress_path(a)%></td></tr> 
 <tr><td><%=link_to "#{t :destroy}", a, method: :delete, data: { confirm: 'Are you sure?' }%></td></tr> 
 <tr><td><hr></td></tr>
<%end%>

</table>
</td>
<td>
<table>
<%CreditCard.where(costumer_id: @costumer.id).find_each do |c|%>
  <tr><td><%= t :number%>: <%=c.number%></td></tr>
  <tr><td><%= t :cvv%>: <%=c.cvv%></td></tr>
   <tr><td><%= t :expiration_month%>: <%=c.expiration_month%></td></tr>
   <tr><td><%= t :expiration_year%>: <%=c.expiration_year%></td></tr>
   <tr><td><%= t :firstname%>: <%=c.firstname%></td></tr>
   <tr><td><%= t :lastname%>: <%=c.lastname%></td></tr>
   <tr><td><%=link_to "#{t :edit}", edit_credit_card_path(c)%></td></tr> 
    <tr><td><%=link_to "#{t :destroy}", c, method: :delete, data: { confirm: 'Are you sure?' }%></td></tr> 
   <tr><td><hr></td></tr>
<%end%>

</table>
</td>
</tr></table>

<%= link_to "#{t :new_shipping_adress}", new_adress_path %>
<%= link_to "#{t :new_billing_adress}", new_billing_adress_path %>
<%= link_to "#{t :new_credit_card}", new_credit_card_path %>
