%table.tab6{:align =>"left"}
  %tr
    %td{:align => "center", :width => "35%"}
      %h3= t :accept_order
    %td= link_to "#{t :checkout_adress}", '/checkout/adress'
    %td
      %u= t :delivery
    %td= link_to "#{t :payment}", '/checkout/payment'
    %td= link_to "#{t :confirm}", '/checkout/confirm'
    %td= link_to "#{t :complete}", '/checkout/complete'
%table{:width => "100%"}
  %tr{:width => "100%"}
    %td{:width => "70%"}
    %td{:width => "30%"}
      %h4= t :order_summary
    
%table.tab4{:align => "left"}
  = form_for(@order) do |f|
    %tr
      %td{:width => "30%"}
      %td
        .field
          = f.radio_button(:ups, 5)
          = f.label "#{t :ups_ground} + 5"
    %tr
      %td{:width => "30%"}
      %td
        .field
          = f.radio_button(:ups, 10)
          = f.label "#{t :ups_two_day} + 10"
    %tr
      %td{:width => "30%"}
      %td
        .field
          = f.radio_button(:ups, 15)
          = f.label "#{t :ups_one_day} + 15"
    %tr  
      %td{:width => "30%"}
      %td
        .actions
          = f.submit
%table.tab5{:align => "right"}
  %tr
    %td{:align => "right", :width => "50%"}
      %strong
        = t :price
        \:
    %td{:width => "3%"}
    %td
      %strong= @order.total_price - @order.ups
  %tr
    %td{:align => "right"}
      %strong
        = t :shipping 
        \:
    %td{:width => "3%"}
    %td
      %strong= @order.ups
  %tr
    %td{:align => "right"}
      %strong
        = t :total_price 
        \:
    %td{:width => "3%"}
    %td
      %strong= @order.total_price