%table.tab6{ :align=>"left"}
  %tr
    %td{:align => "center", :width => "35%"}
      %h3= t :accept_order
    %td= link_to "#{t :checkout_adress}", '/checkout/adress'
    %td= link_to "#{t :delivery}", '/checkout/delivery'
    %td
      %u= t :payment
    %td= link_to "#{t :confirm}", '/checkout/confirm'
    %td
      %u= t :complete
%table{:width => "100%"}
  %tr{:width => "100%"}
    %td{:width => "30%", :align=> "center"}
      %h4= t :checkout_credit_card
    %td{:width => "40%"}
    %td{:width => "30%"}
      %h4= t :order_summary

  = form_for(@credit_card) do |f|
    %table.tab3{:align => "left", :width => "30%"}    
      %tr
        %td
          .field
            = t :number
            %br
              = f.number_field :number
      %tr
        %td
          .field
            = t :cvv
            %br
              = f.number_field :cvv
      %tr
        %td
          .field
            = t :expiration_month
            %br
              = f.number_field :expiration_month
      %tr
        %td
          .field
            = t :expiration_year
            %br
              = f.number_field :expiration_year
      %tr
        %td
          .field
            = t :firstname
            %br
              = f.text_field :firstname
      %tr
        %td
          .field
            = t :lastname
            %br
              = f.text_field :lastname
      %tr
        %td
          .actions
          = f.submit
%table.tab5{:align => "right"}
  %tr
    %td{:align => "right", :width => "50%"}
      %strong
        = t :price
        \:
    %td{:width => "3%"}
    %td
      - if @order.ups.nil?
        %strong= @order.total_price
      - else
        %strong= @order.total_price - @order.ups
  %tr
    %td{:align => "right"}
      %strong
        = t :shipping 
        \:
    %td{:width => "3%"}
    %td
      %strong= @order.ups
  %tr
    %td{:align => "right"}
      %strong
        = t :total_price 
        \:
    %td{:width => "3%"}
    %td
      %strong= @order.total_price