.notice
  = notice
.alert2
  =alert
%table.tab6{ :align=>"left"}
  %tr
    %td{:align => "center", :width => "35%"}
      %h3= t :accept_order
    %td= link_to "#{t :checkout_adress}", checkout_adress_path
    %td= link_to "#{t :delivery}", checkout_delivery_path
    %td
      %u= t :payment
    %td= link_to "#{t :confirm}", checkout_confirm_path
    %td
      %u= t :complete
%table{:width => "100%"}
  %tr{:width => "100%"}
    %td{:width => "30%", :align=> "center"}
      %h4= t :checkout_credit_card
    %td{:width => "40%"}
    %td{:width => "30%"}
      %h4= t :order_summary
  .credit_card
    = form_for(@credit_card) do |f|
      %table.tab9{:align => "left", :width => "30%"}    
        %tr
          %td
            .field
              = t :number
              %br
                = f.number_field :number, id: 'credit_card_number'
        %tr
          %td
            .field
              = t :cvv
              %br
                = f.number_field :cvv, id: 'credit_card_cvv'
        %tr
          %td
            .field
              = t :expiration_month
              %br
                = f.number_field :expiration_month, id: 'credit_card_month'
        %tr
          %td
            .field
              = t :expiration_year
              %br
                = f.number_field :expiration_year, id: 'credit_card_year'
        %tr
          %td
            .field
              = t :firstname
              %br
                = f.text_field :firstname, id: 'credit_card_firstname'
        %tr
          %td
            .field
              = t :lastname
              %br
                = f.text_field :lastname, id: 'credit_card_lastname'
        %tr
          %td
            .actions.button4
              = f.submit
%table.tab5{:align => "right"}
  
  %tr
    %td{:align => "right", :width => "50%"}
      %strong
        = t :coupon_price
        \:
    %td{:width => "3%"}
    %td
      - @order.true_coupon.find do |c|
        %strong
          \-
          =c.price
  %tr
    %td{:align => "right"}
      %strong
        = t :shipping 
        \:
    %td{:width => "3%"}
    %td
      %strong
        \+
        = @order.ups
  %tr
    %td{:align => "right"}
      %strong
        = t :total_price 
        \:
    %td{:width => "3%"}
    %td
      %strong= @order.total_price
.footer
  %strong
    = t :back
    &nbsp;&nbsp;&nbsp;
    = t :next
  %br
    = link_to image_tag("back_arrow.png", :height => "50"), checkout_delivery_path
    &nbsp;&nbsp;&nbsp;&nbsp;
    = link_to image_tag("arrow.png", :height => "50"), checkout_confirm_path