<p>Please Fill in your billing adress!</p>
<%= form_for(@billing_adress, :url => wizard_path, :method => :put) do |f| %>
 <div class="field">
    <%= f.label :adress %><br>
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.number_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
   <div class="field">
  
    <%= f.select(:country_id, options_for_select(Country.all.collect { |country| [country.name, country.id] })) %>
  </div>
  <%= f.submit 'Next', :class => 'btn btn-primary' %>
<% end %>
<%= link_to 'next', wizard_path(:shipping_adress) %>