#myCarousel.carousel.slide.start{"data-ride" => "carousel"}
  / Wrapper for slides
  .carousel-inner{:role => "listbox"}
    -if @firstbook.present?
      .item.active
        %table
          %tr
            %td{:align => "center"}
              %h4= link_to @firstbook.title, @firstbook
            %td
              by
              = link_to "#{@firstbook.author.firstname} #{@firstbook.author.lastname}", author_path(@firstbook.author)
          %tr
            %td{:height => "130px"}= image_tag("#{@firstbook.image}.png", height: 100)
            %td= @firstbook.description
      - @books.each do |book|
        -unless book == @firstbook
          .item
            %table
              %tr
                %td{:align => "center"}
                  %h4= link_to book.title, book
                %td
                  by
                  = link_to "#{book.author.firstname} #{book.author.lastname}", author_path(book.author)
              %tr
                %td{:height => "130px"}= image_tag("#{book.image}.png", height: 100)
                %td= book.description

    %h4= t :welcome
  / Controls
  %a.left.carousel-control.start2{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
