<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :firstname%>: </strong>
  <%= @author.firstname %>
</p>

<p>
  <strong><%= t :lastname%>: </strong>
  <%= @author.lastname %>
</p>

<p>
  <strong><%=t :biography%>:</strong>
  <%= @author.biography %>
</p>
<strong><%= t :book_title%>:</strong>
<table>
<%Book.where(author_id: @author.id).find_each do |book| %>
<tr><td>
<%=link_to book.title, book%>

<%end%>
</td>
</tr>
</table>
<%if signed_in?%>
<%if current_costumer.admin?%>

  
<%=link_to "#{t :edit}", edit_author_path(@author)%>
<%=link_to "#{t :destroy}", @author, method: :delete%>
<%end%>
<%end%>
<%= link_to "#{t :back}", authors_path %>
