<br>

<table class="title">
<tr><td><h2>
  <%= @author.firstname %>  <%= @author.lastname %></h2></td></tr></table>

<table>
<tr><td>
<tr><td>
  <strong><%=t :biography%>:</strong>
  <%= @author.biography %>
</td></tr>
<tr><td>
<strong><%= t :book_title%>:</strong>
</td></tr>

<%Book.where(author_id: @author.id).find_each do |book| %>
<tr><td>
<%=link_to book.title, book%>

<%end%>
</td>
</tr>
</table>
<%if signed_in?%>
<%if current_costumer.admin?%>

  
<%=link_to "#{t :edit}", edit_author_path(@author)%>
<%=link_to "#{t :destroy}", @author, method: :delete%>
<%end%>
<%end%>
<%= link_to "#{t :back}", authors_path %>
