<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @author.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @author.lastname %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @author.biography %>
</p>
<strong>Books:</strong>
<table>
<%Book.where(author_id: @author.id).find_each do |book| %>
<tr><td>
<%=link_to book.title, book%>

<%end%>
</td>
</tr>
</table>

<%= link_to 'Back', authors_path %>
