.alert2
  = alert
.notice
  = notice

%br
  %table.tab2
    %tr
      %th
      %th
        %h4{:align => "center"}= t :book
      %th{:width => "11%"}
        %h4= t :book_price
      %th{:width => "11%"}
        %h4= t :quantity
      %th{:width => "11%"}
        %h4{:align => "center"}= t :price
      %th
    - @order_items.each do |o|
      %tr
        %td{:width => "200px", :height => "130px"}= image_tag("#{o.book.image}.png", height: 100)
        %td
          %h4
            %strong
              = o.book.title
          %br
          = o.book.description
        %td= o.book.price
        = form_for(o) do |oi|
          %td.order_item
            .field.button5
              = oi.text_field :quantity, id: 'quantity'
              %br
              %br
            .actions.button5
              = oi.submit
        %td{:align => "center"}= o.price
        %td{:width => "25px"}= link_to image_tag("cross.png", :height => "20"), o, method: :delete, data: { confirm: 'Are you sure?' }, id: 'delete_button'
  %table{:align => "right", :width => "27%"}
    %tr{:align => "center"}
      %td
        %h4
          = t :coupon_price
          \:
          - @order.true_coupon.find do |c|
            %strong
              \-
              =c.price
    %tr{:align => "center"}
      %td
        %h4
          = t :total_price
          \:
          %strong= @order.total_price
  %table.tab3{:width => "100%"}
    %tr
      %td{:align => "right"}
        -unless @order.order_items.count == 0
          %h4
            .space2
              = button_to "#{t :destroy}", @order, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button'
      %td
        %h4= button_to "#{t :continue_shopping}", books_path, method: "get", :class => 'button'
      -unless @order.order_items.count == 0
        =form_for(@order) do |order|
          .coupon
            %td{:width => "45%", :align => "right"}
              .field.button4.space2
                =order.text_field :coupon_number, id: 'coupon_number'
              %td{:width => "10%"}
                .actions.button4
                 
                  %h4=order.submit t :coupon
        %td{:align => "center"}
          %h4
            = button_to "#{t :accept_order}", '/checkout/adress', method: "get", :class => 'button'