<center><br>
<table class="title2">
<tr><td><h2>
<%=t :edit_order %></h2></td></tr></table>

<table align="center">

<tr>

<td class="tab_st_1"><%=link_to "#{t :billing_adress}", edit_billing_adress_path(current_costumer.billing_adress)%></td>
<td class="tab_st_1"><%=link_to "#{t :shipping_adress}", edit_adress_path(current_costumer.adress)%></td>
<td class="tab_st_1"><%=link_to "#{t :credit_card}", edit_credit_card_path(current_costumer.credit_card)%></td><br>

<td class="tab_st_4"><%=t :accept_order%></td>

</tr>
</table>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :completed_date %><br>
    <%= f.date_select :completed_date %>
  </div>

   
   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
