<center>
<br>
<table class="title">
<tr><td><h2>
<%=t :current_order %></h2></td></tr></table>
</center><br>
<table>
<tr>

      <th width=11%><%=t :book_title%></th>
      <th width=11%><%=t :book_price%></th>
      <th width=11%><%=t :quantity%></th>
      <th width=11%><%=t :price%></th>
      <th width=11%><%=t :edit%></th>
      <th width=11%><%=t :destroy%></th>
         </tr>
<%OrderItem.where(order_id: @order.id).find_each do |o|%>
<%Book.where(id: o.book_id).find do |b|%>
<tr>
<td> <%=link_to b.title, b%></td>
<td> <%= b.price%></td>
<%end%>
<td><%=o.quantity%></td>
<td> <%=o.price%></td>

<td><%= link_to "#{t :edit}", edit_order_item_path(o)%></td>
<td><%= link_to "#{t :destroy}", o, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%end%></tr></table>
<br>
<table align="center">
<tr><td><strong><%=t :total_price%>: <%=@order.total_price%></strong></td></tr>

</table><center>
<%=link_to "#{t :accept_order}", edit_billing_adress_path(current_costumer.billing_adress)%><br>
<%= link_to "#{t :destroy}", @order, method: :delete, data: { confirm: 'Are you sure?' } %></center>