
<p id="notice"><%= notice %></p>


<h2>Order# <%=@order.id%></h2>
<br>
<strong>Order Items:</strong>
<table>
<%OrderItem.where(order_id: @order.id).find_each do |o|%>



<%Book.where(id: o.book_id).find do |b|%>
<tr><td>Book: <%=link_to b.title, b%></td></tr>
<tr><td>Book price: <%= b.price%></td></tr>
<%end%>
<tr><td>Quantity: <%=o.quantity%></td></tr>
<tr><td>Price: <%=o.price%></td></tr>
<tr><td><%= link_to 'Destroy', o, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
<tr><td> </td></tr>
<%end%>
</table><br>
<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>
<p>

<table>
<tr>
<td><strong>Shipping Adress:</strong></td>
<td><strong>Billing Adress:</strong></td>
</tr>
<tr><td>
<table>

<%Adress.where(order_id: @order.id).find do |a|%>

<%Country.where(id: a.country_id).find do |c|%>
<tr><td>Country: <%=c.name%></td></tr>
<%end%>

<tr><td>City: <%=a.city%></td></tr>
<tr><td>Street: <%=a.adress%></td></tr>
<tr><td>Zipcode: <%=a.zipcode%></td></tr>
<tr><td>Phone: <%=a.phone%></td></tr>
<%end%>

</table>
</td>
<td>
<table>

<%BillingAdress.where(order_id: @order.id).find do |a|%>
<%Country.where(id: a.country_id).find do |c|%>
<tr><td>Country: <%=c.name%></td></tr>
<%end%>
<tr><td>City: <%=a.city%></td></tr>
<tr><td>Street: <%=a.adress%></td></tr>
<tr><td>Zipcode: <%=a.zipcode%></td></tr>
<tr><td>Phone: <%=a.phone%></td></tr>
<%end%>

</table>
</td></tr></table>
<%= link_to 'Back', orders_path %>
