%br
  %table{:align => "left"}
    %tr
      %td= link_to "#{t :back_to_orders}", orders_path
    %tr{:align=> "center"}
      %td
        %h4
          = t :order
          = @order.id
      %td= t :"#{@order.aasm_state}"
  %table.tab2
    %tr
      %th
      %th
        %h4{:align => "center"}= t :book
      %th{:width => "11%"}
        %h4= t :book_price
      %th{:width => "11%"}
        %h4= t :quantity
      %th{:width => "11%"}
        %h4{:align => "center"}= t :price
      %th
    - @order_items.each do |o|
      %tr
        %td{:width => "200px", :height => "130px"}= image_tag("#{o.book.image}.png", height: 100)
        %td
          %h4
            %strong
              = o.book.title
          %br
          = o.book.description
        %td= o.book.price
        %td= o.quantity
        %td{:align => "center"}= o.price
        
  %table.tab2{:align => "center"}
    %tr{:align => "right"}
      %td
        %h4
          = t :order_price
          \:
          - if @order.ups.nil?
            %strong= @order.total_price
          - else
            %strong= @order.total_price - @order.ups
    %tr{:align => "right"}
      %td
        %h4
          = t :ups
          \:
          %strong= @order.ups
%table{:align => "right", :width => "18%"}
  %tr
    %td{:align => "center"}
      %h4
        = t :total_price
        \:
        %strong= @order.total_price
 