
<p id="notice"><%= notice %></p>


<h2>Order# <%=@order.id%></h2>
<br>
<strong><%= t :order_items%></strong>
<table>
<%OrderItem.where(order_id: @order.id).find_each do |o|%>



<%Book.where(id: o.book_id).find do |b|%>
<tr><td><%= t :book_title%> <%=link_to b.title, b%></td></tr>
<tr><td><%= t :book_price%>: <%= b.price%></td></tr>
<%end%>
<tr><td><%= t :quantity%>: <%=o.quantity%></td></tr>
<tr><td><%= t :price%>: <%=o.price%></td></tr>
<tr><td><%= link_to "#{t :edit}", edit_order_item_path(o)%></td></tr>
<tr><td><%= link_to "#{t :destroy}", o, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
<tr><td> </td></tr>
<%end%>
</table><br>
<p>
  <strong><%= t :total_price%>: </strong>
  <%= @order.total_price %>
</p>

<p>
<%=link_to "#{t :accept_order}", edit_billing_adress_path(current_costumer.billing_adress)%><br>
<%= link_to "#{t :destroy}", @order, method: :delete, data: { confirm: 'Are you sure?' } %>

