<%= form_for(@book) do |f| %>

  <div class="field">
    <%= t :book_title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= t :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= t :book_price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= t :books_in_stock %><br>
    <%= f.number_field :books_in_stock %>
  </div>
   <div class="field">
  
    <%= f.select(:author_id, options_for_select(Author.all.collect { |author| [author.firstname,author.lastname, author.id] })) %>
  </div>
    <div class="field">
  
    <%= f.select(:category_id, options_for_select(Category.all.collect { |category| [category.title, category.id] })) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
