%center
  %br
    %h2
      = t :shop
%br
  %table{:align => "right", :width => "60%"}
    %tr
      %td
        %table
          %tr
            %th{:width => "22%"}= t :book_title
            %th{:width => "22%"}= t :book_price
            %th{:width => "22%"}= t :rating
          - @books.each do |book|
            %tr
              %td= link_to book.title, book
              %td= book.price
              %td= book.total_rating
      %td
        = render "layouts/table"
  - if signed_in?
    - if current_costumer.admin?
      = link_to "#{t :new}", new_book_path
 