.row
  .col-xs-2
    %h3
      = t :shop
  -if signed_in?
    - if current_costumer.admin?
      .col-xs-2
        %h3
          = link_to "#{t :new_book}", new_book_path
      .col-xs-2
        %h3
          = link_to "#{t :new_category}", new_category_path
      .col-xs-4
    - else
      .col-xs-8
  - else
    .col-xs-8
  .col-xs-2
    = render 'layouts/table'      
.row
    
  -@books.each do |book|
    .col-xs-3
      = image_tag("#{book.image}.png", height: 150)
      %br
      = link_to book.title, book
      %br
      %strong
        = t :book_price
        \:
        = book.price
    .col-xs-1
%br

  





 