.notice
  = notice
%table.tab7{:align => "left"}
  %tr{:align => "center"}
    %td
      %h3= @book.title
  %tr{:height => "30px"}
    %td{:width => "200px", :height => "130px", :rowspan => "2"}= image_tag("#{@book.image}.png", height: 200)
    %td{:align => "left"}
      %h4
        = t :book_price
        \:
        = @book.price
    
    - if signed_in?
      - unless current_costumer.admin?
        = form_for(@order_item) do |oi|
          %td{:align => "right"}
            .field
              = oi.label t :quantity
              = oi.text_field :quantity, id: 'new_oi'        
          %td
            .actions.button2
              = oi.submit
  %tr
    %td{:colspan => "3"}= @book.description
%table{:width => "50%", :align => "left"}
  %tr
    %td{:width => "20%", :align=>"center"}
      %h4= t :reviews
    - if signed_in?
      - unless current_costumer.admin?
        %td{:width => "30%"}= link_to "#{t :add_rating}", new_rating_path, id: 'rating_link'
  - @book.ratings.each do |rating|
    %tr
      %td{:align => "center"}
        = t :rating
        = rating.rating_number
      %td
        %strong= rating.title
      
      -if rating.costumer_id == current_costumer.id
        %td
          =link_to "#{t :edit}", edit_rating_path(rating), id: 'update_link'
        %td  
          = link_to image_tag("cross.png", :height => "20"), rating, method: :delete, data: { confirm: 'Are you sure?' }, id: 'destroy_link'

    %tr
      %td{:align => "center"}
        by
        = rating.costumer.firstname
        = rating.costumer.lastname
    %tr
      %td{:colspan => "3"}= rating.texxt_review
    %tr
      %td
        %br
   

