.notice
  = notice
.alert2
  = alert
%table.tab7{:align => "left"}
  %tr{:align => "center"}
    %td
      %h3= @book.title
  %tr{:height => "30px"}
    %td{:width => "200px", :height => "130px", :rowspan => "2"}= image_tag("#{@book.image}.png", height: 200)
    %td{:align => "left"}
      %h4
        = t :book_price
        \:
        = @book.price
    
    - if signed_in?
      - unless current_costumer.admin?
        = form_for(@order_item) do |oi|
          %td{:align => "right"}
            .field.button5
              = oi.label t :quantity
              = oi.text_field :quantity, id: 'new_oi'        
          %td{:width => "14%"}
            .actions.button4.space3
              = oi.submit t('buy')
  %tr
    %td{:colspan => "3"}= @book.description
%table{:width => "50%", :align => "left"}
  %tr
    %td{:width => "20%"}
      .space
        %h4= t :reviews
    - if signed_in?
      - unless current_costumer.admin?
        %td{:width => "30%"}= link_to "#{t :add_rating}", new_rating_path, id: 'rating_link'
  - @book.ratings.each do |rating|
    %tr
      %td{:width => "30%"}
        .space
          = t :costumer
          = rating.costumer.firstname
          = rating.costumer.lastname
    %tr
      %td
        .space
          = t :rating
          %strong
            = rating.rating_number
      %td
        %strong= rating.title
      
      -if rating.costumer_id == current_costumer.id
        %td{:width => "10%"}
          =link_to "#{t :edit}", edit_rating_path(rating), id: 'update_link'
        %td  
          .space
            = link_to image_tag("cross.png", :height => "20"), rating, method: :delete, data: { confirm: 'Are you sure?' }, id: 'destroy_link'

    
    %tr
      %td{:colspan => "3"}
        .space2
          = rating.texxt_review
    %tr
      %td
        %br
   

