<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :book_title %>: </strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t :author%>: </strong>
  <% Author.where(id: @book.author_id).find do |author| %>
<%=link_to "#{author.firstname + ' '+ author.lastname}", author%>
<%end%>
</p>

<p>
  <strong><%= t :description%>: </strong>
  <%= @book.description %>
</p>

<p>
  <strong><%= t :book_price%>: </strong>
  <%= @book.price %>
</p>

<p>
  <strong><%= t :rating%>: </strong>
  <%= @book.total_rating %>
</p>

<p>
  <strong><%= t :books_in_stock%>: </strong>
  <%= @book.books_in_stock %>
</p>
<%= t :comments%>:<br>
<%@book.ratings.each do |r|%>
<table><tr><td>
<br><%=r.texxt_review%>
</td></tr></table>
<%end%>
<%if signed_in?%>
<%unless current_costumer.admin?%>
<%=link_to 'add rating', new_rating_path%>
  <%if current_order.exists?%>
   <%=link_to 'buy', new_order_item_path%>
   <%else%>
   <%=link_to 'new order', new_order_path%>
   <%end%>

   <%else%>
<%=link_to "#{t :edit}", edit_book_path(@book)%>
<%=link_to "#{t :destroy}", @book, method: :delete%>
<%end%>
<%end%>
<%= link_to "#{t :back}", books_path %><br>

