<br>
<table class="title2">
<tr><td><h2>
<%= t :book_title %>:
  <%= @book.title %></h2></td></tr></table>
<br>
<table>

<p>
  <strong><%= t :author%>: </strong>
  <% Author.where(id: @book.author_id).find do |author| %>
<%=link_to "#{author.firstname + ' '+ author.lastname}", author%>
<%end%>
</p>

<p>
  <strong><%= t :description%>: </strong>
  <%= @book.description %>
</p>

<p>
  <strong><%= t :book_price%>: </strong>
  <%= @book.price %>
</p>

<p>
  <strong><%= t :rating%>: </strong>
  <%= @book.total_rating %>
</p>

<p>
  <strong><%= t :books_in_stock%>: </strong>
  <%= @book.books_in_stock %>
</p>
<%= t :comments%>:<br>
<%@book.ratings.each do |r|%>
<table border=1px><tr><td  width=150px>
<br><%=r.texxt_review%>
</td></tr></table>
<%end%>
<%if signed_in?%>
<%unless current_costumer.admin?%>
<%=link_to "#{t :add_rating}", new_rating_path%><br>
  <%if current_order.exists?%>
   <%=link_to 'buy', new_order_item_path%><br>
   <%else%>
   <%=link_to "#{t :new_order}", new_order_path%><br>
   <%end%>

   <%else%>
<%=link_to "#{t :edit}", edit_book_path(@book)%><br>
<%=link_to "#{t :destroy}", @book, method: :delete%><br>
<%end%>
<%end%>
<%= link_to "#{t :back}", books_path %><br>

