<h1><%= t :edit_order_item%></h1>

<%= form_for(@order_item) do |f| %>
  <% if @order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

      <ul>
      <% @order_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= t :book_title%>: <%=@order_item.book.title%><br>
<%= t :book_price%>: <%= @order_item.book.price%>
<br><br>
<div class="field">
    <%= t :quantity %><br>
    <%= f.text_field :quantity  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
