<h1><%= t :edit_shipping_adress%></h1>
<table>
<tr>
<td><%=link_to "Billing adress", edit_billing_adress_path(current_costumer.billing_adress)%></td>
<td>Shipping adress</td>
<td><%=link_to "Credit Card", edit_credit_card_path(current_costumer.credit_card)%></td><br>
</tr></table><br>
<%= form_for(@adress) do |f| %>
  <% if @adress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adress.errors.count, "error") %> prohibited this adress from being saved:</h2>

      <ul>
      <% @adress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t :adress %><br>
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= t :zipcode %><br>
    <%= f.number_field :zipcode %>
  </div>
  <div class="field">
    <%= t :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= t :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
  <%= t :country%><br>
    <%= f.select(:country_id, options_for_select(Country.all.collect { |country| [country.name, country.id] })) %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%=link_to "next", edit_credit_card_path(current_costumer.credit_card)%><br>
<%= link_to 'Back', edit_billing_adress_path(current_costumer.billing_adress) %>
