<%= form_for(@billing_adress) do |f| %>
  <% if @billing_adress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billing_adress.errors.count, "error") %> prohibited this billing_adress from being saved:</h2>

      <ul>
      <% @billing_adress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t :adress %><br>
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= t :zipcode %><br>
    <%= f.number_field :zipcode %>
  </div>
  <div class="field">
    <%= t :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= t :phone %><br>
    <%= f.text_field :phone %>
  </div>
   <div class="field">
  <%= t :country%>
    <%= f.select(:country_id, options_for_select(Country.all.collect { |country| [country.name, country.id] })) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
