<center><br>
<table class="title2">
<tr><td><h2>
<%=t :edit_billing_adress %></h2></td></tr></table>
<table align="center">
<tr>
<td class="tab_st_2"><%=t :billing_adress%></td>
<td class="tab_st_1"><%=link_to "#{t :shipping_adress}", edit_adress_path(current_costumer.adress)%></td>
<td class="tab_st_1"><%=link_to "#{t :credit_card}", edit_credit_card_path(current_costumer.credit_card)%></td><br>
<%current_order.find do |o|%>
<td class="tab_st_3"><%=link_to "#{t :accept_order}", edit_order_path(o)%></td>
<%end%>
</tr></table><br>
<%= form_for(@billing_adress) do |f| %>
  <% if @billing_adress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billing_adress.errors.count, "error") %> prohibited this billing_adress from being saved:</h2>

      <ul>
      <% @billing_adress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
<tr>
<td>
  <div class="field">
    <%= t :adress %><br>
    <%= f.text_field :adress %>
  </div>
  </td></tr>
  <tr>
<td>
  <div class="field">
    <%= t :zipcode %><br>
    <%= f.number_field :zipcode %>
  </div>
  </td></tr>
  <tr>
<td>
  <div class="field">
    <%= t :city %><br>
    <%= f.text_field :city %>
  </div>
  </td></tr>
  <tr>
<td>
  <div class="field">
    <%= t :phone %><br>
    <%= f.text_field :phone %>
  </div>
  </td></tr>
  <tr>
<td>
   <div class="field">
  <%= t :country%><br>
    <%= f.select(:country_id, options_for_select(Country.all.collect { |country| [country.name, country.id] })) %>
  </div>
  </td></tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%=link_to "#{t :next}", edit_adress_path(current_costumer.adress)%><br>
<%current_order.find do |o|%>
<%= link_to "#{t :back_to_order}", o %>
<%end%>
