<br>
<table class="title2">
<tr><td><h2>
<%= t :category_title%>:
  <%= @category.title %></h2></td></tr></table>
<br>
<table>
<strong><%= t :book_title%>:</strong>
<%Book.where(category_id: @category.id).find_each do |book| %>
<tr><td>
<%=link_to book.title, book%>
<%end%>
</td>
</tr>
</table>
<%if signed_in?%>
<%if current_costumer.admin?%>

  
<%=link_to "#{t :edit}", edit_category_path(@category)%>
<%=link_to "#{t :destroy}", @category, method: :delete%>
<%end%>
<%end%>
<%= link_to "#{t :back}", categories_path %>
