%table.td_header
  %tr{:height => "100px"}
    %td
      %h3= t :bookstore
    %td
      = link_to "#{t :home}", root_path
      |
      = link_to "#{t :shop}", books_path
    %td
      %strong= t :another_language
      %br
        - if I18n.locale == I18n.default_locale
          = link_to "English", :locale=>'en'
        - else
          = link_to "Українська", :locale=>'uk'
    %td
      - if signed_in?
        - unless current_costumer.admin?
          - unless current_order.nil?
            - current_order.find do |o|
              = link_to image_tag("cart.png", :height => "50"), edit_order_path(o)
              = link_to "#{t :current_order} (#{o.order_quantity})", edit_order_path(o)

        %td
          = link_to "#{t :settings}", costumer_path(current_costumer)
          |
          = link_to "#{I18n.t "orders"}", orders_path
          |
          = link_to "#{I18n.t "logout"}", destroy_costumer_session_path, method: :delete
      - else
        = link_to "#{I18n.t "register"}", new_costumer_registration_path
        |
        = link_to "#{I18n.t "login"}", new_costumer_session_path

          

     
	 

   
                      
      

      
       

  



