     

<table  width=100%>

<tr>
<td width=33%><%=image_tag("books.png", height: 150)%></td>
<td align=center><h1><%=link_to "#{I18n.t "bookstore"}" , root_path%></h1></td>
<td align="right" width=33%>
        <%if signed_in?%>
        <%unless current_costumer.admin?%>
<table aling="left">
<tr>
<td>
<%current_order.find do |o|%>
<%=link_to "#{t :current_order}", o%>
<%end%></td></tr><tr><td>
<%= link_to "#{I18n.t "orders"}", orders_path %>
</td>
</tr>
</table>

<%=link_to "my info", costumer_path(current_costumer)%><br>
     
	 
   <%else%>
    Hello admin <%= current_costumer.firstname %>
   <%= current_costumer.lastname %>!<br>
   <%end%>
          <%=link_to "#{I18n.t "edit_costumer"}", edit_costumer_registration_path%><br>
          <%=link_to "#{I18n.t "logout"}", destroy_costumer_session_path, method: :delete%>
        <%else%>
          <%=link_to "#{I18n.t "register"}", new_costumer_registration_path%><br>
          <%=link_to "#{I18n.t "login"}", new_costumer_session_path%><br>
          
        <%end%>
   </td>

</tr>
</table>                         
      

      
       

  



