%table.td_header.header
  %tr{:height => "100px"}
    %td{:width => "20%"}
      %h3= t :bookstore
    %td
      = link_to "#{t :home}", root_path
      |
      = link_to "#{t :shop}", books_path
    %td
      
      %br
        .dropdown
          %a#drop1.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = t('another_language')
            %span.caret
              .dropdown-menu{"aria-labelledby" => "drop1", :role => "menu"}
                %li{:role => "presentation"}
                  = link_to 'English', '?locale=en'
                %li{:role => "presentation"}
                  = link_to 'Українська', '?locale=uk'
        
    %td
      - if signed_in?
        - unless current_costumer.admin?
          - unless current_order.nil?
            - current_order.find do |o|
              = link_to image_tag("cart.png", :height => "50"), edit_order_path(o)
              = link_to "#{t :current_order} (#{o.order_quantity})", edit_order_path(o)

        %td{:width => "23%"}
          - unless current_costumer.admin?
            %table
              %tr
                %td
                  = link_to "#{t :info}", costumer_path(current_costumer)
                  |
                %td
                  = link_to "#{t :orders}", orders_path
                  |
                %td
                  = link_to "#{t :logout}", destroy_costumer_session_path, method: :delete
              %tr
                %td
                  = link_to "#{t :settings}", edit_costumer_registration_path
      - else
        = link_to "#{t :register}", new_costumer_registration_path
        |
        = link_to "#{t :login}", new_costumer_session_path

          

     
	 

   
                      
      

      
       

  



