<br>
<table class="tab_st_5">
<tr>
<td><strong><%= link_to "#{t :categories}", categories_path%></strong></td>
</tr>
<tr>
<td><strong><%= link_to "#{t :authors}", authors_path%></strong></td>
</tr>

</table><br>
<table class="tab_st_5">
<tr><td >
<strong><%=t :another_language%></strong>
<br>
<% if I18n.locale == I18n.default_locale %>
  <%= link_to "English", :locale=>'en'%>

<% else %>
  <%= link_to "Українська", :locale=>'uk'%>

<%end%>
</td></tr></table>