%br
  %table
    %tr
      %td
        %strong= t :categories
    - Category.find_each do |category|
      %tr
        %td= link_to category.title, category
  %br
    %table
      %tr
        %td
          %strong= t :another_language
          %br
            - if I18n.locale == I18n.default_locale
              = link_to "English", :locale=>'en'
            - else
              = link_to "Українська", :locale=>'uk'