<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
html, body {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
}
</style>
<body>
<div class="header">
<%= render "layouts/header" %>
</div>
<table width="88%" height="100%"><tr>
<td width="12%" class="tds1"><%= render "layouts/table" %></td>
<td align="center" class="tab_st_6">
<%= yield %>
</td></tr></table>
</body>
</html>
